html
    head
        title 2018 Tax Bill Effects | flu.io
        link(rel="stylesheet" href="/css/main.css")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        meta(property="og:url"           content="https://flu.io/2018-tax-bills/")
        meta(property="og:type"          content="website")
        meta(property="og:title"         content="2018 Tax Bill Effects")
        meta(property="og:description"   content="Effects of House & Senate Bill on Income Taxes")
        meta(property="og:image"         content="http://flu.io/assets/og-preview.png")
        // Global site tag (gtag.js) - Google Analytics
        script(async src="https://www.googletagmanager.com/gtag/js?id=UA-110789503-1")
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-110789503-1');

    body
        iframe(src="http://45.55.55.216/")
